* {

    box-sizing:border-box;

}


body {

    margin:0;

    background:#121212;

    color:#ffffff;

    font-family:

    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

}



.app {

    max-width:700px;

    margin:auto;

    padding:20px;

}



header h1 {

    margin-bottom:5px;

}



header p {

    color:#aaa;

}





.searchBox {


    display:flex;

    align-items:center;

    gap:10px;


    background:#222;

    padding:12px 15px;

    border-radius:30px;

    margin:25px 0;


}



.searchBox input {


    flex:1;

    background:none;

    border:none;

    outline:none;

    color:white;

    font-size:16px;


}





.songCard {


    background:#1e1e1e;

    padding:18px;

    margin:15px 0;

    border-radius:18px;


    cursor:pointer;


    transition:.2s;


}



.songCard:hover {


    transform:translateY(-3px);


}



.songCard h3 {


    margin:0;


}



.artist {


    color:#aaa;

    margin-top:5px;


}



.cardChords {


    margin-top:15px;

    color:#ffcc66;

    font-weight:bold;


}





.hidden {

    display:none;

}





.backBtn {


    background:#222;

    color:white;

    border:none;

    border-radius:50%;

    width:40px;

    height:40px;

    font-size:20px;


}




.songHeader {


    margin-top:20px;


}



.songHeader h2 {


    font-size:32px;

    margin-bottom:5px;


}



.songHeader p {


    color:#aaa;


}



.chords {


    margin-top:15px;

    font-size:22px;

    color:#ffcc66;

}





.line {


    margin:35px 0;

}



.chord {


    font-size:26px;

    font-weight:bold;

    color:#ffcc66;


}



.line {


    font-size:20px;

    line-height:1.6;


}




.scrollControl {


    position:fixed;

    top:15px;

    right:15px;


    background:#222;

    padding:8px;

    border-radius:25px;


    display:flex;

    gap:10px;

    align-items:center;


}



.scrollControl button {


    background:none;

    border:none;

    color:white;

    font-size:18px;


}



#scrollSpeed {


    font-size:14px;

}

.rawLyrics {

    white-space: pre-wrap;
    font-size:20px;
    line-height:1.8;
    font-family:inherit;

}